importFrom("stats", "na.omit")
import("shiny")
import("shinydashboard")
import("shinyWidgets")
import("shinycustomloader")
importFrom("DT", "dataTableOutput", "renderDataTable", "datatable")
import("RColorBrewer")
importFrom("stringr","str_extract","str_remove")
importFrom("dplyr", "mutate_if","bind_rows","distinct","mutate","group_by","%>%")
import("ggplot2")
import("logging")

export(wpm)
