body{
  font-family: "Corbel", Times, "Times New Roman", serif;
  font-weight: normal ;
  color: #6B6B6B
}


.main-header .logo {
  font-family: "Corbel", Times, "Times New Roman", serif;
  font-weight: 100 ;
  font-size: 24px;
}

h1{
  font-family: "Corbel";
  font-weight: bolder ;
}

h2{
  font-family: "Corbel";
  font-weight: bolder ;
}

h3{
  font-family: "Corbel";
  font-weight: bold ;
}

h4{
  font-family: "Corbel";
  font-weight: normal;
}

.shiny-download-link, a:hover{
  color:#6B6B6B;
}


.box.box-solid.box-warning>.box-header {
  color:#fff;
  background:#6B6B6B
                    }

.box.box-solid.box-warning{
border-bottom-color:#6B6B6B;
border-left-color:#6B6B6B;
border-right-color:#6B6B6B;
border-top-color:#6B6B6B;
}